<!-- para la navegaicon superior -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="/">TNR-TRACKER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      {{#if user}} {{!-- Solo se mostrara del usuario--}}
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/links">All Links</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/links/add">Add a Link</a>
        </div>
        {{!-- UUSS--}}
      </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Unidades de Superficie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/buques">Mostrar Unidades de Superficie </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/buques/add">Añadir Unidades de Superficie</a>
        </div>
      </li>
      {{!-- Trackers--}}
      </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trackers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/trackes">Mostrar Rastreadores </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/trackers/add">Añadir Rastreadores</a>
        </div>
      </li>
      {{!-- Usuarios--}}
            </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users">Mostrar Usuarios </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/add">Añadir Usuarios</a>
        </div>
      </li>
      {{!-- Tripulaicion--}}
            </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tripulaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/crew">Mostrar Tripulación </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/crew/add">Añadir Tripulación</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/signin" class="nav-link">SignIN</a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link">SignUP</a>
      </li>
      {{/if}}


      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/links/tracker1">Tracker</a>
      </li>
    </ul>
  </div>
</div>
</nav>