<!-- CODIGO COMUN PARA NUESTRAS VISTAS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkS ApP</title>
    {{!-- GOOGLE fORMS para los fonts letras--}}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {{!-- Botsrtap 4--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {{!-- Font awsome iconos--}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    {{!--estilos personalizados STYLES --}}
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <!-- para el codigo del Nav Bar...-->
    {{> navigation }}
    {{> sidebar }}

    <!-- el codigo solo cambiara en esta seccion -->
    {{{body}}}
</body>
</html>